<%- include('../include/login-header') %>
<link rel="stylesheet" type="text/css" href="/css/outer.css">
<link rel="icon" type="image/png" href="/images/icons/favicon.png"/>

<div class="row">
    <div class="col-md-6 mx-auto p-0">
        <div class="card">
            <div class="login-box">
                <div class="row">
                    <div class="login-snip">
                        <input id="tab-1" type="radio" name="tab" class="sign-in" checked>
                        <label for="tab-1" class="tab">Reset Password</label>
                        <input id="tab-2" type="radio" name="tab" class="sign-up">
                        <label for="tab-2" class="tab"></label>
                        <div class="login-space">
                            <div class="login">
                                <!-- Login Form -->
                                <form action="" method="post">
                                    <div class="group">
                                        <label for="login-user" class="label">Useremail</label>
                                        <input id="login-user" name="email" type="text" class="input" placeholder="Enter your Useremail">
                                    </div>
                                    <div class="group">
                                        <label for="login-pass" class="label">Password</label>
                                        <input id="login-pass" name="password"   type="password" class="input" data-type="password" placeholder="Enter your password">
                                    </div>
                                    <!-- <div class="group">
                                        <input id="login-check" type="checkbox" class="check" checked>
                                        <label for="login-check"><span class="icon"></span> Keep me Signed in</label>
                                    </div> -->
                                    <div class="group">
                                        <input type="submit" class="button" value="LogIn">
                                    </div>
                                </form>
                        
                                

                            </div>
                           
                                <div class="hr"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../include/login-footer') %>

</body>
</html>



